.rodape {
    background-color: #6278F7;
    text-align: center;
    align-items: center;
    color: #fff;
    display: table;
    /*clear: both;*/
    /*content: "";*/
    width: 100%;
}

.rodape .esquerda {
    display: table-cell;
    padding: 40px;
    width: 45%;
    vertical-align: middle;
}

.rodape .esquerda img {
    padding-right: 40px;
}

.rodape .centro {
    display: table-cell;
    padding: 40px;
    width: 10%;
    vertical-align: middle;
}

.rodape .direita {
    display: table-cell;
    padding: 40px;
    font-weight: bolder;
    width: 45%;
    text-align: center;
    vertical-align: middle;
}